body{
    position: relative;
    width: 1000px;
    height: 100%;
    background: #FFFFFF;
}

.logo{
    position: fixed;
    left: 3.47%;
    right: 92.22%;
    top: 0.95%;
    margin-bottom: 96.21%;
    width: 50%;
}

a{
    text-decoration: none;
}
.logo h1{
    position: fixed;
    width: 300px;
    height: 24px;
    left: 200px;
    top: 27px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 118% */
    color: #3159C2;
}

.profil{
    position: fixed;
    width: 60px;
    height: 24px;
    left: 1347px;
    top: 28px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #3159C2;
    
}

.tagihan{
    position: fixed;
    width: 70px;
    height: 24px;
    left: 1248px;
    top: 28px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #3159C2;
}


@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);


.mt-100{ 
   margin-top:200px;
}
.mb-100{
   margin-bottom:100px;
}
.card {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: rgba(97, 146, 252, 0.247);
   background-clip: border-box;
   border: 0px solid transparent;
   border-radius: 0px;
}

.card-body {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   padding: 1 rem;
}

.card .card-title {
   position: relative;
   font-weight: 600;
   margin-bottom: 10px;
}

footer{
    font-family: 'Poppins', sans-serif;
    background-color: #3159C2;
    color: white;
    width: 1400px;
 }